<div ng-controller="search" class="search-container">

    <form novalidate ng-submit="start_search()" name="search_form">
        <input autofocus type="search" name="search_keyword" required ng-model="search_keyword"
               placeholder="Enter search key..."/>
        <button ng-disabled="search_form.$invalid">
            Start Searching
        </button>
    </form>

    <div>
        <h4 ng-if="start_searching">
            Searching for {{search_keyword}}...
        </h4>

        <div ng-if="!start_searching">
            <h1 ng-if="result.photos.photo">
                Search result about '{{searched_keyword}}'
            </h1>

            <div ng-if="result.photos.photo.length > 0">

                <div>
                    <a class="image-wrapper" ng-repeat="image in result.photos.photo"
                       ng-click="show_image_overlay(image)">
                        <img ng-src="{{build_url(image)}}" alt="{{image.title}}">
                        <p>
                            {{image.title}}
                        </p>
                    </a>
                </div>


                <paging page="result.photos.page"
                        page-size="result.photos.perpage"
                        total="result.photos.total"
                        show-prev-next="true"
                        show-first-last="true"
                        paging-action="start_search(page)">
                </paging>


            </div>
            <div ng-if="result.photos.photo.length === 0">
                <p>
                    No result found!
                </p>
            </div>
        </div>

    </div>

    <div ng-if="show_image" class="image-overlay">
        <button ng-click="$parent.show_image = null">close</button>
        <img ng-src="{{build_url(show_image, 'b')}}" alt="{{show_image.title}}">
    </div>

</div>