.image-overlay{
    position: fixed;
    background-color: #000000c7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-overlay button{}
.image-overlay img{}

.image-wrapper{
    display: inline-block;
    background-color: white;
    padding: 10px;
    border: 1px solid #9E9E9E;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}
.image-wrapper:hover{
    background-color: lightgray;
}
.image-wrapper img{}
.image-wrapper p{}

.search-container{
    text-align: center;
}